body {
    
}

header {
    background-color: #505050;
    color: #ffffff;
    text-align: center;
}

.contacts {
    display: inline;
    list-style-type: none;
}

.about {
    text-align: center;
    color: #9B9B9B;
}