body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    background-color: #505050;
    color: #ffffff;
    text-align: center;
}

.contacts {
    display: inline;
    list-style-type: none;
}

.about {
    text-align: center;
    color: #9B9B9B;
}

.skills {
    background-color: #6D6D6D;
    color: #ffffff;
}